/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family:Verdana, Geneva, sans-serif;
		
	}
	
	input
	{
		width:100%;
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.8em;
		border:thin solid #000;
		padding-left:5px;
		margin-top:20px;
	}
	
	label
	{
		font-weight:bold;
	}
	
	select
	{
		width:100%;
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.8em;
		border:thin solid #000;
		margin-top:20px;
	}
	
	textarea
	{
		width:100%;
		height:150px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.8em;
		padding-left:5px;
		padding-top:5px;
		margin-top:20px;
	}
	
	
.submitButtons
{
	margin-top:20px;
}

.submitButtons input
{
	font-size:0.8em;

}

#Another
{
	float:right;
	width:50%;
}

.keywords input
{
	width:100%;
	font-size:1em;
	padding-left:5px;
	padding-top:5px;
}

.pageTitle
{
	font-size:1.5em;
	font-weight:bold;
	margin-top:95px;
	letter-spacing:5px;
	text-transform:uppercase;
}

.filters
{
	height:25px;
	background-color:#f5f5f5;
	width:100%;
	margin-top:10px;
}

.filter
{
	padding-top:1px;
	text-transform:uppercase;
}

.filterTitle
{
	margin-right:15px;
	float:left;
}

.filterType
{
	color:#6d6d6d;
}

.filterType hover
{
	color:#000000;
}

.filterType:hover ul
{
	display:block;
	background-color:#000000;
}

.filterType:hover ul li
{
	padding-left:5px;
	padding-right:5px;
	line-height:22px;
	font-size:1em;
	list-style-type:none;
}

.filterType:hover ul li a
{
	color:#FFFFFF;
	text-decoration:none;
}

.filterType
{
	float:left;
	position:relative;
	z-index:1;
}

.filterType ul li a:hover
{
	text-decoration:underline;
}

.filterType ul
{
	clear:left;
	display:none;
	padding-top:5px;
	margin-top:2px;
	padding-bottom:5px;
}

.spacer
{
	margin-left:15px;
	margin-right:15px;
	float:left;
}

form
{
	margin-top:20px;
	margin-bottom:20px;
}

#imageInput
{
	text-align:center;
	margin-top:20px;
	display:none;
}

#imageSet
{
	text-align:center;
}

.success
{
	color:#00CC00;
	text-transform:uppercase;
	margin-top:20px;
}

.fail
{
	color:#F00;
	text-transform:uppercase;
	margin-top:20px;
}

.label
{
	margin-top:20px;
}

.price input
{
	width:60px;
}

.priceShow
{
	text-align:center;
	font-size:0.8em;
	font-weight:bold;
}

.edit a
{
	text-decoration:none;
	color:#090;
	font-size:0.8em;
	float:left;
}

.delete a
{
	text-decoration:none;
	color:#F00;
	font-size:0.8em;
	float:right;
}

.product
{
	float:left;
	margin-right:23px;
	width:170px;
	text-align:center;
	height:260px;
}

.productLast
{
	height:260px;
	float:left;
	width:170px;
	text-align:center;
}


.name
{
	text-align:center;
	font-size:0.8em;
}

#logo
{
	height:131px;
	width:152px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-color:#000000;
	}

#banner
{
	position:fixed;
	top:-320px;
	width:152px;
}

#bottomBanner
{
	background-image:url(../images/bannerBottom.png);
	width:152px;
	height:53px;
}

#linkContain
{
	text-align:center;
	width:152px;
	background-color:#000000;
	padding-top:10px;
}

#womens a
{
	font-family: 'Libre Baskerville', serif;
	color:#FFFFFF;
	text-decoration:none;
}

#womens
{
	font-family: 'Libre Baskerville', serif;
	border-bottom:thin #FFF solid;
	height:32px;
	width:94px;
	margin-left:28px;
	color:#FFF;
	overflow:hidden;
	font-size:1.25em;
}

#womens ul
{
	text-align:left;
}

#womens li
{
	margin-top:8px;
	list-style-type:none;
	font-size:0.6em;
}

#mens ul
{
	text-align:left;
}

#mens li
{
	margin-top:8px;
	list-style-type:none;
	font-size:0.6em;
}

p:hover
{
	cursor:pointer;
	color:#FF3300;
}

#womens a:hover
{
	color:#FF3300;
}

#mens a:hover
{
	color:#FF3300;
}

.shoes a:hover
{
	color:#FF3300;
}

#mens a
{
	font-family: 'Libre Baskerville', serif;
	color:#FFFFFF;
	text-decoration:none;
}

#mens
{
	font-family: 'Libre Baskerville', serif;
	border-bottom:thin #FFF solid;
	width:94px;
	height:32px;
	margin-top:10px;
	margin-left:28px;
	overflow:hidden;
	color:#FFF;
	font-size:1.25em;
}

.shoes a
{
	font-family: 'Libre Baskerville', serif;
	color:#FFFFFF;
	text-decoration:none;
	font-size:1.25em;
}

.shoes
{
	width:94px;
	height:35px;
	margin-top:10px;
	margin-left:28px;
}

.searchContainer
{
	width:100%;
	height:340px;
}

.searchTitle
{
	width:100%;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.875em;
	font-weight:bold;
	padding-top:10px;
}

.searchType
{
	font-weight:bold;
	font-size:0.75em;
	margin-top:15px;
	margin-bottom:-10px;
}

.select
{
	width:100%;
	margin:0 auto;
}

.submit
{
	width:100%;
	margin:0 auto;
}

.submit input
{
	border:none;
	background-color:#000;
	color:#FFF;
	padding-top:3px;
	cursor:pointer;
	padding-bottom:3px;
	width:100%;
}

.backgroundImage
{
	background-image:url(../images/lgImage.png);
	width:100%;
	height:354px;
	background-repeat:no-repeat;
}

.smallSetup
{
	display:none;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 1154px) {

	.productLast
{
	
	margin-right:23px;
}



}

@media handheld, only screen and (max-width: 1024px) {
.smallSetup
{
	
	display:block;
}

.largeSetup
{
	display:none;
}

.productSmall
{
	width:100%;
		text-align:center;
}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}