html {
    background-color: $black;
}

body {
    font-family: $body-font-family;
    color: $black;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.hidden {
    display: none;
}

textarea {
    resize: none;
    font-family: $body-font-family;
}

*:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: $blue;
}

p {
    color: $grey;
    font-weight: 100;
    margin-top: 10px;
    line-height: 22px;
    margin-bottom: 40px;
    font-size: 0.8125em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 35px;
    font-weight: 100;
    color: $blue;
    width: 100%;
}

h4 {
    text-align: center;
    color: $grey;
    margin: 0 auto;
    font-size: 0.95em;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 100;
}

.max-img {
    width: 100%;
}