@mixin border_radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border_circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

@mixin drop_shadow($x, $y, $blur, $spread, $rgba, $inset: false) {
    @if $inset == false {
        -webkit-box-shadow: $x $y $blur $spread $rgba;
        -moz-box-shadow: $x $y $blur $spread $rgba;
        box-shadow: $x $y $blur $spread $rgba;
    }
    @else {
        -webkit-box-shadow: inset $x $y $blur $spread $rgba;
        -moz-box-shadow: inset $x $y $blur $spread $rgba;
        box-shadow: inset $x $y $blur $spread $rgba;
    }
}

@mixin gradient($start, $end, $direction: vertical) {
    @if $direction == vertical {
        background: $start;
        background: -moz-linear-gradient(top, $start 0%, $end 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end));
        background: -webkit-linear-gradient(top, $start 0%, $end 100%);
        background: -o-linear-gradient(top, $start 0%, $end 100%);
        background: -ms-linear-gradient(top, $start 0%, $end 100%);
        background: linear-gradient(to bottom, $start 0%, $end 100%);
    }
    @else if $direction == horizontal {
        background: $start;
        background: -moz-linear-gradient(left, $start 0%, $end 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $start), color-stop(100%, $end));
        background: -webkit-linear-gradient(left, $start 0%, $end 100%);
        background: -o-linear-gradient(left, $start 0%, $end 100%);
        background: -ms-linear-gradient(left, $start 0%, $end 100%);
        background: linear-gradient(to right, $start 0%, $end 100%);
    }
}

@mixin transition($speed: 0.2s) {
    -webkit-transition: all $speed ease-in;
    -moz-transition: all $speed ease-in;
    -o-transition: all $speed ease-in;
    transition: all $speed ease-in;
}

@mixin vertical_align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}