// contact.css Styles

#contact-map {
    width: 100%;
    height: 426px;
}

input {
    background-color: #f9f9f9;
    width: calc(100% - 20px);
    border: none;
    font-size: 0.825em;
    padding: 10px;
    margin-bottom: 20px;
    border: thin solid #e2e2e2;
}

textarea {
    background-color: #f9f9f9;
    width: 100%;
    font-size: 0.875em;
    padding: 10px;
    margin-bottom: 20px;
    border: thin solid #e2e2e2;
    resize: none;
    height: 142px;
}

input[type='submit'] {
    float: right;
    width: 90px;
    text-align: center;
    border: none;
    background-color: #2598CC;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
    font-size: 0.825em;
}

h3 {
    margin-bottom:30px;
}