// home.css Styles

.banner {
    background-image: url(../images/structure/banner.png);
    width: 100%;
    height: 430px;
    background-size: cover;
    position: relative;
    background-position: center center;
    opacity: 1;
}

.banner-text {
    background-color: rgba(37, 152, 204, 0.8);
    padding: 10px 0px 12px;
    color: #fff;
    font-size: 26px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    position: absolute;
    width: 980px;
    top: 185px;
    text-align: center;
    opacity: 0;
}

.icon-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}