/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	body {
		background-image:url(../images/background.jpg);
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:#000;
		background-size:100%;
	}
	
	.bannerLeft
{
	float:left;
	position:fixed
}

.bannerCenter
{
	margin:0 auto;
	width:800px;
}

.swfLink 
{
	width:800px;
	height:90px;
	position:absolute;
	top:0px;
	left:310px;
	display:block;
}

.bannerRight
{
	float:right;
	position:fixed
}


	
	.mainContainer
	{
		position:relative;
	}
	
.hidden
{
	display:none;
}

p{
	color:#FFFFFF;
	font-family: 'Wellfleet', cursive;
	font-size:1.5em;
	line-height:1.25em;
}
	
.wantedPaper
{
	width:100%;
	height:689px;
	background-image:url(../images/wanted_paper.png);
	margin-top:40px;
	margin-bottom:50px;
	box-shadow:0px 0px 30px #000;
	padding-top:1px;
}

.wantedText
{
	width:385px;
	margin:0 auto;
	margin-top:50px;
}

nav
{
	width:100%;
	height:50px;
	margin-top:20px;

}

nav ul{	
	margin-top:7px;
	width:100%;
	}


nav ul li{
	float:left;
	list-style-type:none;
	width:25%;
	font-family:'Wellfleet', cursive;
	text-align:center;
	color:#FFF;
	font-size:1.5em;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	}
	
nav ul li a:hover {
	color: #cf9117;
	text-decoration: none;
	}	

.navBarLeft
{
	width:8%;
	height:45px;
	background-image:url(../images/nav_bar_left.png);
	float:left;
	opacity:0.8;
	margin-right:-2px;
}

.navBarRight
{
	width:8%;
	height:45px;
	background-image:url(../images/nav_bar_right.png);
	float:left;
	opacity:0.8;
}

.navBar
{
	width:84%;
	height:42px;
	background-image:url(../images/nav_bar.png);
	background-repeat:repeat-x;
	float:left;
	opacity:0.8;
	padding-top:3px;
}

form
{
	margin:0 auto;
	margin-top:20px;
	text-align:center;
	width:80%;
}

form input{
	background-color:transparent;
	border:thick #302b21 solid;
	width:80%;
	height:50px;
	text-align:center;
	font-size:2em;
	margin-bottom:25px;
	font-weight:bold;
	font-family: 'Smokum', cursive;
	color:#302b21;
}

.email input{
	width:100%
}



.day
{
	width:22%;
	float:left;
	margin-right:5%;
}

.day input{
	width:100%;
}

.month
{
	width:22%;
	float:left;
	margin-right:5%;
}

.month input
{
	width:100%;
}

.year
{
	width:46%;
	float:left;
}

.year input
{
	width:100%;	
}

.spacer
{
	width:5%;
}


.castPlayer
{
	margin-top:40px;
}

object{
	border:none;
}

.plot{
	margin-top:40px;
}

.mugImage
{
	float:right;
	margin-left:15px;
}

.title
{
	margin:0 auto;
	margin-top:40px;
}

.center
{
	width:245px;
	margin: 0 auto;
	margin-bottom:20px;
}

.gunsPic
{
	margin-top:25px;
}


.mediaPlayer
{
	margin-top:20px;
	margin-bottom:20px;
}

.dob
{
	font-family: 'Smokum', cursive;
	color:#302b21;
	margin-top:-10px;
}

form input[type=submit]{
	background-image:url(../images/submit.png);
	width:232px;
	height:70px;
	border:none;
	color:transparent;
	opacity:0.8;
	cursor:pointer;
}

form input[type=submit]:hover{
	opacity:1;
}

.castIpad
{
	display:none;
	list-style-type:none;
	font-family:'Wellfleet', cursive;
	color:#FFF;
	font-size:1.5em;
	line-height:2em;
	margin-top:20px;
	text-align:center;
}

.billyImage
{
	float:left;
	margin-right:20px;
	margin-top:20px;
	width:253px;
}

.billySmall
{
	display:none;
	margin:0 auto;
	width:199px;
	margin-top:20px;
	
}

.warSmall
{
	display:none;
	margin:0 auto;
}

.billyArticle
{
	margin-top:20px;
	margin-bottom:20px;
}

.war{
	margin-top:20px;
}

.warImage{
	width:348px;
	margin:0 auto;
}

.kidBanner{
	margin:0 auto;
	margin-top:40px;
	width:347px;
}

.production
{
	margin-top:40px;
	text-align:center;
}

.prodTeam
{
	margin-top:20px;
	list-style-type:none;
	font-family:'Wellfleet', cursive;
	text-align:center;
	color:#FFF;
	font-size:1.5em;
	line-height:2em;
	margin-bottom:20px;
}

.supportCast
{
	list-style-type:none;
	font-family:'Wellfleet', cursive;
	color:#FFF;
	font-size:1.5em;
	line-height:2em;
	margin-top:20px;
	text-align:center;
}

.bannerImage
{
	display:none;
}



.smallWanted
{
	display:none;
}

.footer
{
	margin-top:50px;
	margin-bottom:50px;
}

.footIcons ul
{
	text-align:center;
}

.footIcons ul li
{ 
	float:left;
	list-style-type:none;
	text-align:center;
	margin-left:10px;
}

.footLink a
{
	color:#FFFFFF;
	text-decoration:none;
	font-size:1 em;
	text-align:center;
	font-family:'Wellfleet', cursive;
}

.footLink
{
	width:100%;
	text-align:center;
	margin-bottom:10px;
	margin-top:40px;
}

.footIcons
{
	width:175px;
	margin:0 auto;
}

.promo
{
	width:800px;
	margin:0 auto;
	margin-top:30px;
}

.photoGallery
{
	margin-top:20px;
}

.photoGallery img
{
box-shadow:0px 0px 30px #000;
}

.photoText
{
	text-align:center;
	margin-bottom:20px;
}
.mediaPlayer embed
{
	box-shadow:0px 0px 30px #000;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 1430px) {

body {
		background-image:url(../images/background2.png);
		background-attachment:fixed;
		width:100%;
	}
	
.bannerCenter{
	display:none;
}

.bannerImage
{
	display:block;
	margin-left:75px;
	width:100%;
}

.swfLink
{
	display:none;
}


.mediaPlayer embed
{
	box-shadow:none;
}

	
}

@media handheld, only screen and (max-width: 1024px) {
.navBar
{
	width:100%;
	font-size:0.8em;
	height:40px;
}
	
.navBarRight{
	display:none;
}

.navBarLeft{
	display:none;
}

.title
{
	width:100%;
	margin:0 auto;
	margin-top:40px;
}

.bannerImage
{
	width:100%;
	margin:0 auto;
}


}

@media handheld, only screen and (max-width: 864px) {
	.wantedPaper
{
	width:100%;
	height:450px;
	background-image:url(../images/wanted_paper.png);
	margin-top:40px;
	margin-bottom:50px;
	box-shadow:0px 0px 30px #000;
}

.wantedText
{
	display:none;
}

.smallWanted
{
	display:block;
	width:241px;
	margin:0 auto;
	margin-top:50px;
}

form input[type=submit]{
	background-image:url(../images/littleSubmit.png);
	width:140px;
	height:42px;
	border:none;
	color:transparent;
	opacity:0.8;
}
	
	form
{
	margin-top:20px;
	text-align:center;
	width:80%;
}

form input{
	background-color:transparent;
	border:thick #302b21 solid;
	width:60%;
	height:30px;
	text-align:center;
	font-size:1em;
	margin-bottom:10px;
	font-weight:bold;
	font-family: 'Smokum', cursive;
	color:#302b21;
}



	
	
}

@media handheld, only screen and (max-width: 767px) {	
.wantedPaper
{
	width:400px;
	height:450px;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:50px;
	box-shadow:0px 0px 30px #000;
}


.castFlash
{
	display:none;
}

.castIpad{
	display:block;
	font-size:1em;
	margin-top:20px;
}

.prodTeam
{
	font-size:1em;
}

.supportCast
{
	font-size:1em;
}

p
{
	font-size:1em;
}

.billyImage{
	margin:0 auto;
	float:none;
}

.navBar
{
	width:100%;
	margin:0 auto;
	height:35px;
}

nav ul li
{
	width:20%;
}

.photoGallery
{
	margin:0 auto;
	width:449px;
}

.billyImage
{
	margin-bottom:20px;
}

.castPic{
	margin-bottom:-10px;
	margin-top:10px;
}

@media handheld, only screen and (max-width: 436px) {
	.navBar
{
	height:100%;
	background-image:none;
	margin-bottom:20px;
	width:100%;
}

nav ul{
	float:none;
}

nav ul li
{
	float:none;
	font-size:1.75em;
	margin-top:3px;
	background-image:url(../images/nav_bar.png);
	background-repeat:repeat-x;
	width:100%;
}

.supportCast ul{
	font-size:1em;
	line-height:1.2em;
}

.castIpad ul{
	font-size:1em;
	line-height:1.2em;
}

.prodTeam ul{
	font-size:1em;
	line-height:1.2em;
}

.mediaPlayer
{
	margin-top:-100px;
}

.wantedPaper
{
	width:300px;
	height:450px;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:50px;
	box-shadow:0px 0px 30px #000;
}

.photoGallery
{
	width:100%
}

.billySmall
{
	display:block;
}

.kidBanner
{
	display:none;
}

.warImage
{
	display:none;
}

.warSmall
{
	display:block;
	width:206px;
	margin:0 auto;
}

.castPic
{
	margin-bottom:5px;
}
}




