@charset "UTF-8";
/* CSS Document */

body
{
	font-family:'Arimo', sans-serif;
	font-size:16px;
}

.container
{
	width:1140px;
	margin:0 auto;
overflow:auto;
	margin-bottom:40px;
}

.visible
{
	overflow:visible;
}

a
{
	text-decoration:none;
}

.navBar
{
width:100%;
height:55px;
background-color:#f8f8f8;
border-bottom:thin solid #e2e2e2;
position:fixed;	
z-index:1;
}

.fixed
{
	height:55px;
}

.homeButton
{
width:253px;
border-right:thin solid #e2e2e2;
border-left:thin solid #e2e2e2;
height:55px;
float:left;	
}



.homeLogo
{
	margin-top:8px;
	margin-left:47px;
	float:left;
	margin-right:10px;
}

.homeTitle
{
	font-weight:bold;
	font-size:18px;
	margin-top:17px;
	color:#4d7a93;
}

#nowPlaying{
width:253px;
border-right:thin solid #e2e2e2;
border-left:thin solid #e2e2e2;
height:55px;
float:right;	
}

#searchBar
{
	position:relative;
}

#searchBar input
{
width:550px;
height:34px;
border:thin solid #e2e2e2;
background-color:#FFFFFF;
margin-top:9px;	
float:left;
margin-left:42px;
padding-left:5px;
font-size:14px;
}

.loginInput input
{
	height:35px;
	border:thin solid #e2e2e2;
	font-size:14px;
	padding-left:2%;
	width:97%;
	margin-bottom:10px;
}

.name1Input input
{
	clear:left;
	float:left;
	height:35px;
	border:thin solid #e2e2e2;
	font-size:14px;
	padding-left:5px;
	width:165px;
	margin-bottom:10px;
}

.name2Input input
{
	float:right;
	height:35px;
	border:thin solid #e2e2e2;
	font-size:14px;
	padding-left:5px;
	width:165px;
	margin-bottom:10px;
}

.submitInput input
{
background-image: -ms-linear-gradient(top, #80A5B9 0%, #4A7891 100%);
background-image: -moz-linear-gradient(top, #80A5B9 0%, #4A7891 100%);
background-image: -o-linear-gradient(top, #80A5B9 0%, #4A7891 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80A5B9), color-stop(1, #4A7891));
background-image: -webkit-linear-gradient(top, #80A5B9 0%, #4A7891 100%);
background-image: linear-gradient(to bottom, #80A5B9 0%, #4A7891 100%);
border: thin solid #d2d2d2;
color:#fff;
text-align:center;
width:100%;
height:35px;
font-size:14px;
font-weight:bold;
cursor:pointer;
}

.leftSide
{
	margin-top:40px;
	width:253px;
	float:left;
}

.rightSide
{
	margin-left:42px;
	float:left;
	width:845px;
	margin-top:40px;
}

.navOptions
{
font-size:14px;
margin-top:20px;	
}

.navOptions li
{
	border-bottom:thin solid #e2e2e2;
}

.navOptions li:last-child
{
border-bottom:none;	
}

.navOptions a
{
	width:241px;
	height:28px;
	color:#999999;
	text-decoration:none;
	display:block;
	padding-top:12px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.navOptions a:hover
{
	color:#fff;	
	background-color:#4d7a93;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	padding-left:12px;
}

.name
{
	font-size:24px;
	color:#4d7a93;
	font-weight:bold;
}

.location
{
font-size:16px;
color:#999;
margin-top:8px;	
}

.nav
{
	width:97.8%;
	height:40px;
	background-color:#f6f6f6;
	margin-top:20px;
	border:thin solid #e2e2e2;
	padding-left:2%;
	font-size:14px;
}

.nav ul
{
	display:inline;
}

.nav li
{
	float:left;
	margin-right:50px;
	margin-top:13px;
	font-weight:bold;
	color:#999;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor:pointer;
}

.nav li:hover
{
	color:#4d7a93;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.editAccount
{
	float:right;
	font-size:14px;
	margin-top:13px;
	margin-right:10px;
	font-weight:bold;
}

.editAccount a
{
color:#4d7a93;	
}

.loginBox
{
	width:350px;
	margin:0 auto;
	margin-top:50px;
}

.loginLogo
{
	margin-bottom:15px;
	float:left;
	margin-right:10px;
}

.loginTitle
{
	font-size:24px;
	font-weight:bold;
	padding-top:5px;
		color:#4d7a93;
}

#content
{
width:550px;
float:left;
margin-top:20px;
}

.sidebar
{
width:254px;
	float:right;
	border-left:thin solid #e2e2e2;	
}

#music
{
	margin-bottom:20px;
}

#friends
{
	margin-bottom:20px;
}

.postBox textarea
{
	width:100%;
	border:thin solid #e2e2e2;
	height:90px;
	font-family:'Arimo', sans-serif;
	padding-top:8px;
	padding-left:1%;
	font-size:14px;
	resize:none;
}

.postBox input
{
	width:80%;
	border:thin solid #e2e2e2;
	font-family:'Arimo', sans-serif;
	padding-top:8px;
	padding-left:1%;
	font-size:14px;
	resize:none;
	margin-bottom:10px;
	padding-bottom:8px;
	float:right;
}

.submit
{
	width:99%;
	border:thin solid #e2e2e2;
	font-family:'Arimo', sans-serif;
	padding-top:8px;
	padding-left:1%;
	font-size:14px;
	resize:none;
	margin-bottom:10px;
	padding-bottom:8px;
	background-color:#4d7a93;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
}

.postSubmit
{
width:99%;
height:23px;
background-color:#f6f6f6;	
border:thin solid #e2e2e2;
border-top:none;
padding-left:1%;
padding-top:12px;
padding-right:1%;
}

#share
{
	text-decoration:none;
	color:#999;
	font-size:12px;
	float:left;
	font-weight:bold;
	cursor:pointer;
}


.postSubmit input
{
height:24px;
background-color:#4d7a93;
width:65px;
text-align:center;
float:right;
border:none;
color:#FFFFFF;
font-weight:bold;
cursor:pointer;
margin-top:-7px;
}

.recommendBox
{
	margin-top:20px;
	margin-left:20px;
	font-size:14px;
}

.findMore a
{
	font-weight:bold;
	color:#4d7a93;
	text-decoration:none;
}

.findMore a:hover
{
	text-decoration:underline;
}

.songBox
{
	margin-top:19px;
	overflow:auto;
	padding-bottom:1px;
}

.recommendSong a
{
	color:#000000;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}

.recommendSong
{
	padding-top:15px;
}

.recommendArtist
{
	margin-top:5px;
}

.addFriend
{
	color:#999;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
}

.addFriend:hover
{
	color:#4d7a93;
}

.recommendImage
{
	float:left;
	margin-right:10px;
	cursor:pointer;
	z-index:-1;
}

#suggestions
{
overflow:auto;
background-color:#fff;
width:556px;
position:absolute;
top:50px;
left:296px;
border:thin solid #e2e2e2;
border-top:none;
border-bottom:none;
display:none;
z-index:1;
}

#suggestions a
{
	text-decoration:none;
}

#suggestions li
{
border-bottom:thin solid #e2e2e2;
overflow:auto;
cursor:pointer;
}

#suggestions li:hover
{
	background-color:#4d7a93;
}

#suggestions li:hover .searchName
{
	color:#fff;
}

#suggestions li:hover .searchLocation
{
	color:#fff;
}

.searchName
{
	font-size:16px;
	font-weight:bold;
	color:#4d7a93;
	margin-left:10px;
	margin-top:25px;
}

.searchLocation
{
	font-size:14px;
	color:#999;
	margin-top:2px;
	margin-bottom:10px;
	margin-left:10px;
}

.searchImage
{
	float:left;
	margin:10px;
}


#changePicBox
{
	position:fixed;
	display:none;
}

.playingSong
{
	font-size:12px;
	color:#4d7a93;
	font-weight:bold;	
	margin-top:14px;
}

.playingArtist
{
font-size:12px;
color:#999;
margin-top:3px;	
}

#playButton
{
width:34px;
height:34px;
background-image:url(../images/pauseButton.png);
float:left;
margin-top:10px;
margin-left:10px;
margin-right:10px;	
cursor:pointer;
}

#audio
{
	display:none;
}

.newsBox
{
	overflow:auto;
	margin-top:20px;
	width:100%;
	padding-bottom:20px;
	border-bottom:thin solid #e2e2e2;
}

.newsBox:last-child
{
	border:none;
}

.albumBox
{
	overflow:auto;
	margin-top:20px;
	width:100%;
	padding-bottom:20px;
	border-bottom:thin solid #e2e2e2;	
}

.albumBox:last-child
{
	border:none;
}

.newsThumb
{
	float:left;
}

.newsContent
{
float:right;
width:85%;
font-size:14px;
color:#999;
margin-top:5px;	
}

.newsContent p
{
	margin-top:10px;
	color:#262626;
	font-size:14px;
	line-height:20px;
}

.newsContent a
{
	font-weight:bold;
	text-decoration:none;
	color:#4d7a93;
}

/*.musicPlaylist { position: relative; background: #fff; border: 1px solid e2e2e2; } .musicPlaylist:after, .musicPlaylist:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .musicPlaylist:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 8px; margin-left: -8px; } .musicPlaylist:before { border-color: rgba(46, 46, 2, 0); border-bottom-color: e2e2e2; border-width: 9px; margin-left: -9px; }*/

.musicPlaylist
{
	margin-top:12px;
	border:thin solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.musicPlaylist li
{
	padding-top:10px;
	overflow:auto;
	padding-bottom:11px;
	padding-left:10px;
	border-bottom:thin solid #e2e2e2;
}

.musicPlaylist li:last-child
{
	border:none;
}

/*.albumPlaylist { position: relative; background: #fff; border: 1px solid e2e2e2; } .albumPlaylist:after, .albumPlaylist:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .albumPlaylist:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 8px; margin-left: -8px; } .albumPlaylist:before { border-color: rgba(46, 46, 2, 0); border-bottom-color: e2e2e2; border-width: 9px; margin-left: -9px; }*/

.albumPlaylist
{
	width:68.5%;
	margin-top:12px;
	border:thin solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:right;
}

.albumPlaylist li
{
	padding-top:10px;
	overflow:auto;
	padding-bottom:11px;
	padding-left:10px;
	border-bottom:thin solid #e2e2e2;
}

.albumPlaylist li:last-child
{
	border:none;
}

.songPlaylist
{
	width:100%;
	margin-top:12px;
	border:thin solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.songPlaylist2
{
	width:100%;
	border:thin solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.songPlaylist li
{
	padding-top:10px;
	overflow:auto;
	padding-bottom:11px;
	padding-left:10px;
	border-bottom:thin solid #e2e2e2;
}

.songPlaylist li:last-child
{
	border:none;
}

.songPlaylist2 li
{
	padding-top:10px;
	overflow:auto;
	padding-bottom:11px;
	padding-left:10px;
	border-bottom:thin solid #e2e2e2;
}

.songPlaylist2 li:last-child
{
	border:none;
}

.playOptions
{
	width:150px;
	margin-top:12px;
	border:thin solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	postion:absolute;
	left:500px;
}

.playOptions li
{
	padding-top:10px;
	overflow:auto;
	padding-bottom:11px;
	padding-left:10px;
	border-bottom:thin solid #e2e2e2;
}

.link
{
cursor:pointer;	
}

.playOptions li:last-child
{
	border:none;
}

.newsSongName
{
color:#262626;
font-size:14px;
font-weight:bold;
}

.newsSongArtist
{
	color:#999;
	font-size:12px;
	margin-top:5px;
}

.albumSongArtist
{
	color:#999;
	font-size:12px;
	margin-top:5px;
}

.newsSongImage
{
	float:left;
	margin-right:10px;
	cursor:pointer;
}


.createLink
{
	float:left;
	margin-top:10px;
}

.createLink a
{
	color:#84a8bc;
	font-size:12px;
}

.forgetLink
{
float:right;
	margin-top:10px;	
}

.forgetLink a
{
	color:#84a8bc;
	font-size:12px;
}

.loginLink
{
text-align:center;
	margin-top:10px;	
}

.loginLink a
{
	color:#84a8bc;
	font-size:12px;
}

.friendBox
{
	width:150px;
	text-align:center;
	margin-right:50px;
	float:left;
}

.friendBoxLast
{
	width:150px;
	text-align:center;
	float:left;
}

.friendName
{
font-size:14px;

margin-top:5px;
font-weight:bold;
margin-bottom:20px;	
}

.friendName a
{
	color:#4d7a93;
}

.posted
{
	color:#999;
	font-size:12px;
	float:right;
}

.userBox
{
	width:350px;
	height:150px;
	margin-right:45px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}

.userBox img
{
	float:left;
	margin-right:20px;
}

.userBox2 img
{
	float:left;
	margin-right:20px;
}

.userBox2
{
	width:350px;
	height:150px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}

.userName
{
	margin-top:20px;
	font-size:14px;
}

.userName a
{
	font-weight:bold;
	color:#4d7a93;
}

.userLocation
{
	font-size:12px;
	color:#999;
	margin-left:20px;
	margin-top:5px;
}

.addUser
{
	margin-top:20px;
	font-weight:bold;
	color:#999;
	font-size:12px;	
	cursor:pointer;
}

.addUser:hover
{
color:#4d7a93;	
}

.albumImage
{
width:150px;
float:left;	
margin-right:20px;
}

.albumName
{
	font-size:16px;
	color:#4d7a93;
	font-weight:bold;
	margin-top:10px;
}

.albumRelease
{
font-size:12px;
margin-top:5px;
color:#999;	
}

.uploadTitle
{
	color:#4d7a93;
	font-weight:bold;
	margin-bottom:20px;
}

.smallArrow
{
	float:right;
	margin-top:-23px;
	margin-right:12px;
	cursor:pointer;
	width:20px;
	height:19px;
	background-image:url(../images/smallArrow.png);
}

.smallArrow:hover
{
	background-image:url(../images/hoverSmallArrow.png);
}

.playlistBox
{
	border-bottom:thin solid #999;
}

.playlistBox:last-child
{
	border:none;
}

.playlistTitle
{
	font-size:20px;
	color:#4d7a93;
	font-weight:bold;
}

.playlistDate
{
color:#999;
font-size:14px;
margin-top:5px;	
}

.options
{
	color:#999;
}

.songOptions
{
font-size:11px;
font-weight:bold;
color:#999;
}

.songOptions:hover
{
	color:#4d7a93;
	cursor:pointer;
}

.hidden
{
	display:none;
}

#errors
{width:500px;
text-align:center;
margin:0 auto;
line-height:20px;
font-size:14px;
margin-top:20px;
}

.status
{
	float:right;
	margin-top:-20px;
}

.status select
{
	width:100px;
}

.selects select
{
	width:80%;
	font-size:16px;
	float:right;
}

label
{
	font-size:14px;
	padding-top:10px;
	float:left;
	font-weight:bold;
}

.formRow
{
overflow:auto;	
margin-bottom:20px;
}

footer
{
	margin-top:20px;
	border-top:thin solid #e2e2e2;
	width:100%;
}

.footer
{float:right;
font-size:14px;
margin-top:5px;
margin-bottom:10px;
}

.footer li
{
	float:left;
	margin-left:20px;
}

.footer li a
{
	color:#c2c2c2;
}

.footer li a:hover
{
	color:#4d7a93;
}

.footerLeft
{
	float:left;
	margin-top:5px;
	color:#4d7a93;
	font-size:14px;
}