@charset "UTF-8";
img, embed, object, video 
{

}

img 
{ 
-ms-interpolation-mode: bicubic; 
}

html
{
height:100%;
}

b
{
	font-weight:bold;
}

.hidden
{
	display:none;
}

body{
font-family: 'Maven Pro', sans-serif;
background:#d6d6d6;
background-image: -ms-linear-gradient(top, #e2e2e2 0%, #D6D6D6 100%); 
background-image: -moz-linear-gradient(top, #e2e2e2 0%, #D6D6D6 100%);
background-image: -o-linear-gradient(top, #e2e2e2 0%, #D6D6D6 100%); 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2e2e2), color-stop(1, #D6D6D6));
background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #D6D6D6 100%);
background-image: linear-gradient(to bottom, #e2e2e2 0%, #D6D6D6 100%);
background-attachment:fixed;
font-size:16px;
}

.nav-bar
{
	background-color:#333333;
	width:100%;
	position:fixed;
	z-index:9999;
	height:50px;
}

.nav-contain
{
	width:1140px;
	margin:0 auto;
}

.nav-fix
{
	height:50px;
}

.container
{
	width:1100px;
	margin:0 auto;
	background-color:#fff;
	padding:20px;
	border:thin solid #d5d5d5;
	overflow:auto;
	border-top:none;
	padding-bottom:5px;
}

#interactive-map
{
	width:100%;
	height:500px;
}

#searchColumn
{
	float:left;
	margin-top:20px;
	width:290px;
	height:100%;
}

.searchBox
{
	
	border:thin solid #d5d5d5;
	
}

#properties
{
	width:810px;
	float:right;
	margin-bottom:25px;
}

.imgBox
{
	width:250px;
	margin-left:20px;
	float:left;
	height:164px;
	margin-top:20px;
	position:relative;
	cursor:pointer;
}

.imgBox:hover .houseAddress
{
	background-color:#40ADEB;
	color:#fff;
	background-image:none;
}

.houseAddress
{
	position:absolute;
	background-image:url(../images/structure/opacity.png);
	left:0px;
	top:15px;
	padding:7px;
	color:#555;
	font-weight:500;
}

.sign-in
{
	float:right;
	font-size:0.875em;
	margin-top:15px;
}

.sign-in a
{
	color:#fff;
}

.sign-in a:hover
{
	color:#45bafd;
}

.search-title
{
	background-color:#f2f2f2;
	color:#555;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	font-size:1em;
}

.submit{
font-size:1em;
cursor:pointer;	
background-image: -ms-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -moz-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -o-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #45BAFD), color-stop(0.5, #45BAFD), color-stop(0.51, #40ADEB), color-stop(1, #40ADEB));
background-image: -webkit-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: linear-gradient(to bottom, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
border:none;
padding-top:10px;
padding-bottom:10px;
width:100%;
text-align:center;
color:#fff;
border-top:thin solid #d5d5d5;
}

.searchRow
{
	color:#555;
	padding-left:10px;
	font-size:1em;
	padding-top:18px;
	padding-bottom:18px;
	border-top:thin solid #d5d5d5;
	color:#c2c2c2;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#box-1
{
	padding-left:10px;
	font-size:1em;
	padding-top:18px;
	padding-bottom:18px;
	border-top:thin solid #d5d5d5;
	color:#c2c2c2;
	cursor:pointer;
}

#box-2
{
	padding-left:10px;
	font-size:1em;
	padding-top:18px;
	padding-bottom:18px;
	border-top:thin solid #d5d5d5;
	color:#c2c2c2;
	cursor:pointer;
}

#box-3
{
	padding-left:10px;
	font-size:1em;
	padding-top:18px;
	padding-bottom:18px;
	border-top:thin solid #d5d5d5;
	color:#c2c2c2;
	cursor:pointer;
}

#box-4
{
	padding-left:10px;
	font-size:1em;
	padding-top:18px;
	padding-bottom:18px;
	border-top:thin solid #d5d5d5;
	color:#c2c2c2;
	cursor:pointer;
}

#select-1, #select-2, #select-3, #select-4
{
	height:0px;
	overflow:hidden;
}

.searchRow:hover
{
color:#fff;
background-color:#40ADEB;
cursor:pointer;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

footer
{
	text-align:center;
	width:100%;
	float: left;
	margin:40px 0px;
}

footer ul
{
	clear:both;
}

footer li
{
	font-size:0.8em;
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
}

footer a
{
	color:#c2c2c2;
}

footer a:hover
{
color:#45bafd;	
}

#select-1, #select-2, #select-3, #select-4 {
	text-align: center;
}

.inputFull
{
	margin: 0 auto;
	margin-top:18px;
	width:86%;
}

.inputLeft
{
	float:left;
	margin-top:18px;
	margin-left:6.8%;
	width:34%;
}

.to {
	float:left;
	margin-top:18px;
	text-align: center;
	color:#c2c2c2;
	width: 18%;
}

.inputRight
{
	float:right;
	margin-top:18px;
	margin-right:6.8%;
	width:34%;
}

#arrow
{
	position:fixed;
	top:350px;
	right:50px;
	opacity:0;
}

.logo
{
	float:left;
	margin-top:10px;
}

.leftColumn
{
float:left;
padding-bottom:20px;
width:67.2%;
margin-right:1.9%;
}

.rightColumn
{
float:left;	
width:30.8%;
padding-top:17px;
}

.houseImg
{
	width:100%;
	margin-bottom:10px;
	float:left;
	margin-right:15px;
}

.houseImg img {
	width:100%;
}

.houseTitle
{
font-size:2.25em;	
color:#40ADEB;
margin-bottom:20px;
font-weight:500;
}

.houseText
{
color:#999;
font-size:0.875em;
line-height:22px;
}

.sectionTitle
{
font-size:1.25em;	
color:#40ADEB;
margin-bottom:20px;
clear:left;
}

#mini-interactive-map
{
width:100%;
height:200px;
margin-bottom:20px;
	
}

.gallery{
	margin-bottom:10px;
	float:left;
}

.galleryImg
{
width:77px;
height:77px;
overflow:hidden;
margin-bottom:10px;
float:left;
margin-right:10px;	
}

.galleryImg2
{
width:77px;
height:77px;
margin-bottom:10px;
float:left;
}

#content
{
	line-height:20px;
	width:175px;
}

.mapImg
{
	width:175px;
	height:115px;
	margin-top:5px;
}

.house-details {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 20px;
	margin-top: 2px;
}

.mapAddress
{
	margin-top:10px;
	width:175px;
	font-size: 14px;
}

.mapText{
	font-size: 10px;
}

.mapLink
{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 12px;
}

.mapLink a
{
	color:#000;
}

.mapLink a:hover
{
	color:#40ADEB;
}

.mapText
{
	width:175px;
	margin-top:10px;
	line-height:16px;
	font-size:2px;
}

.plus
{
	float:right;
	font-size:2.25em;
	margin-right:15px;	
	margin-top:-12px;
	font-weight:100;
} 

.contact-form input{
	width:96%;
	border:thin solid #999;	
	padding:2%;
	margin-bottom:10px;
}

.contact-form textarea{
	padding:2%;
	border:thin solid #999;
	width:96%;
	height:80px;
	margin-bottom:10px;
	resize:none;
	font-family: 'Maven Pro', sans-serif;
	font-size:12px;
}

.contact-form #submit
{
	width:90px;
cursor:pointer;	
background-image: -ms-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -moz-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -o-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #45BAFD), color-stop(0.5, #45BAFD), color-stop(0.51, #40ADEB), color-stop(1, #40ADEB));
background-image: -webkit-linear-gradient(top, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
background-image: linear-gradient(to bottom, #45BAFD 0%, #45BAFD 50%, #40ADEB 51%, #40ADEB 100%);
border:none;
text-align:center;
color:#fff;
margin-bottom:40px;
padding: 10px;
}

.house-icons {
	text-align: center;
}

.icon-box {
	text-align: center;
	padding: 16px 25px;
	display: inline-block;
	margin-bottom: 5px;
}

.icon-text {
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
	color:#333;
}

@media handheld, only screen and (max-width: 1140px) {
	.container {
		width: 95.8%;
		padding: 2%;
	}

	.nav-contain {
		width: 100%;
	}

	.logo {
		margin-left: 10px;
	}

	.sign-in {
		margin-right: 10px;
	}

	#properties {
		width: 74.9%;
		float: right;
	}

	#searchColumn {
		width: 25%;
		float: left;
	}

	.imgBox {
		width: 30.8%;
		margin-left: 2.5%;
		height:auto;
	}

	.imgBox img {
		width: 100%;
	}
}

@media handheld, only screen and (max-width: 1110px) {

	.house-icons {
		float: left;
		margin-right: 20px;
		background-color: #f7f7f7;
		padding: 15px;
		width: 180px;
	}
	.icon-box {
		width: 100%;
		padding: 0px;
		margin-bottom: 5px;
		text-align: left;
		display: block;
		float: left;
	}

	.icon-text {
		font-size: 12px;
		float: left;
	}

	.icon-box img {
		float: left;
		width: 24px;
		height: 24px;
		margin-top: 7px;
		margin-right: 10px;
	}
}

@media handheld, only screen and (max-width: 940px) {
	.houseAddress {
		font-size: 12px;
	}

	#box-1, #box-2, #box-3, #box-4 {
		font-size: 14px;
	}
}

@media handheld, only screen and (max-width: 768px) {
	#searchColumn {
		width: 100%;
		float: none;
	}

	#properties {
		width: 100%;
	}

	.imgBox {
		margin-left: 0px;
		margin-right: 2.5%;
		width: 31.6%;
	}

	.imgBox:nth-child(3n) {
		margin-right: 0px;
	}

	.leftColumn {
		width: 100%;
	}

	.rightColumn {
		width: 100%;
	}

	.houseTitle {
		font-size: 24px;
	}

	footer {
		margin: 20px 0px;
		margin-top: 0px;
	}

	footer li {
		margin: 0 10px;
		margin-bottom: 5px;
	}
}

@media handheld, only screen and (max-width: 568px) {
	.houseAddress {
		font-size: 16px;
	}

	.imgBox {
		margin-right: 0px;
		width: 48.5%;
	}

	.imgBox:nth-child(2n) {
		margin-left: 2.5%;
	}
}

@media handheld, only screen and (max-width: 550px) {
	.houseAddress {
		font-size: 16px;
	}

	.imgBox {
		margin-right: 0px;
		width: 48.5%;
		margin-top: 20px;
		margin-bottom: -10px;
	}

	.imgBox:nth-child(2n) {
		margin-left: 2.5%;
	}
}

@media handheld, only screen and (max-width: 484px) {
	.houseAddress {
		font-size: 12px;
	}

	.container {
		width: 95.5%;
	}

	.sign-in {
		display: none;
	}

	.logo {
		width: 100%;
		text-align: center;
		margin-left: 0px;
	}
}

@media handheld, only screen and (max-width: 400px) {
	.house-icons {
		width: 91.8%;
	}
}

