html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #1a1a1a; }

body {
  font-family: "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px; }

.hidden {
  display: none; }

textarea {
  resize: none;
  font-family: "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; }

*:focus {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

a, a:hover, a:focus {
  text-decoration: none;
  color: #2598CC; }

p {
  color: #A1A1A1;
  font-weight: 100;
  margin-top: 10px;
  line-height: 22px;
  margin-bottom: 40px;
  font-size: 0.8125em; }

h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 35px;
  font-weight: 100;
  color: #2598CC;
  width: 100%; }

h4 {
  text-align: center;
  color: #A1A1A1;
  margin: 0 auto;
  font-size: 0.95em;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: 100; }

.max-img {
  width: 100%; }

.project-title {
  margin-top: 20px;
  font-size: 0.875em;
  font-weight: 100;
  color: #2598CC; }

.main-content {
  margin-top: 20px; }

.main-header .logo {
  margin-top: 20px;
  float: left; }
.main-header .main-navigation {
  float: right;
  font-size: 1em;
  font-weight: 300;
  margin-top: 30px; }
  .main-header .main-navigation ul {
    float: right; }
  .main-header .main-navigation li {
    float: left;
    margin-left: 60px; }
  .main-header .main-navigation li:first-child {
    margin-left: 0px; }
  .main-header .main-navigation a {
    color: #393838;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .main-header .main-navigation a:hover {
    color: #2598CC;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .main-header .main-navigation a.active {
    color: #2598CC; }

.main-footer {
  width: 100%;
  background-color: #393838;
  overflow: auto;
  bottom: 0px;
  z-index: -1;
  border-bottom: 25px solid #1a1a1a; }
  .main-footer .tagline {
    margin-top: 60px;
    font-size: 1.4em;
    line-height: 34px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px; }
    .main-footer .tagline a {
      color: #2598CC; }
  .main-footer .icon-img {
    width: 100px;
    height: 100px;
    margin: 0 auto; }
  .main-footer .social-buttons {
    overflow: hidden;
    margin-bottom: 60px; }
    .main-footer .social-buttons a {
      margin-right: 10px; }

.page-home .banner {
  background-image: url(../images/structure/banner.png);
  width: 100%;
  height: 430px;
  background-size: cover;
  position: relative;
  background-position: center center;
  opacity: 1; }
.page-home .banner-text {
  background-color: rgba(37, 152, 204, 0.8);
  padding: 10px 0px 12px;
  color: #fff;
  font-size: 26px;
  text-shadow: 0px 1px 2px black;
  letter-spacing: 1px;
  position: absolute;
  width: 980px;
  top: 185px;
  text-align: center;
  opacity: 0; }
.page-home .icon-img {
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.page-contact #contact-map {
  width: 100%;
  height: 426px; }
.page-contact input {
  background-color: #f9f9f9;
  width: calc(100% - 20px);
  border: none;
  font-size: 0.825em;
  padding: 10px;
  margin-bottom: 20px;
  border: thin solid #e2e2e2; }
.page-contact textarea {
  background-color: #f9f9f9;
  width: 100%;
  font-size: 0.875em;
  padding: 10px;
  margin-bottom: 20px;
  border: thin solid #e2e2e2;
  resize: none;
  height: 142px; }
.page-contact input[type='submit'] {
  float: right;
  width: 90px;
  text-align: center;
  border: none;
  background-color: #2598CC;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
  font-size: 0.825em; }
.page-contact h3 {
  margin-bottom: 30px; }

/*# sourceMappingURL=global.css.map */
