@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body
{
	background-image:url(../images/iphoneBackground.jpg);
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.screen
{
	width:249px;
	overflow:hidden;
	height:440px;
	position:absolute;
	top:101px;
	left:42px;
}

a
{
	text-decoration:none;
}

#container
{
	background-color:#fff;
	width:249px;
	position:absolute;
	left:0px;
}

#nav
{
	position:absolute;
	background-color:#2f2f2f;
	width:180px;
	height:440px;
	left:-180px;
}

#nav a
{
	text-decoration:none;
}

#nav li
{
	list-style-type:none;
	font-weight:bold;
	border-bottom:thin solid #1c1c1c;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
	padding-left:10px;
}

#nav li:hover
{
	background-color:#6a6a6a;
}

.navTop
{
	height:45px;
	width:180px;
	 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #2F2F2F 0%, #1C1C1C 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #2F2F2F 0%, #1C1C1C 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #2F2F2F 0%, #1C1C1C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2F2F2F), color-stop(1, #1C1C1C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #2F2F2F 0%, #1C1C1C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #2F2F2F 0%, #1C1C1C 100%);
}

.topNav
{	
width:249px;
height:45px;
}

.bottomNav
{
width:249px;
height:45px;
}

.leftBut
{
	width:34px;
	height:22px;
	margin-top:7px;
	margin-left:5px;
	float:left;
}

.locateBut
{
	height:21px;
	width:10px;
	background-image:url(../images/locateBut.png);
	margin-left:12px;
	margin-top:-3px;
}

.recipeBut
{
	height:20px;
	width:20px;
	background-image:url(../images/recipeIcon.png);
	margin-left:7px;
	margin-top:-3px;
}

.cookbookBut
{
	height:20px;
	width:20px;
	background-image:url(../images/cookbookIcon.png);
	margin-left:7px;
	margin-top:-3px;
}

.plusBut
{
height:15px;
	width:15px;
	background-image:url(../images/plus.png);
	margin-left:10px;
	margin-top:px;	
}

.rightBut
{
width:34px;
	height:22px;
	margin-top:7px;
	margin-right:5px;
	float:right;	
}

.viewCart
{
	height:22px;
	width:90px;
	margin-top:8px;
	margin-left:5px;
	float:left;
}

.selectListText
{
color:#FFFFFF;
	font-size:11px;
	text-align:center;
	margin-top:2px;
}

.items
{
	float:right;
	margin-right:5px;
}

.cartIcon
{
	margin-top:-4px;
	margin-left:5px;
}

.viewCartText
{
	color:#FFFFFF;
	font-size:11px;
	float:right;
	margin-right:8px;
	margin-top:1px;
}

.cartText
{
	color:#FFFFFF;
	font-size:12px;
	float:right;
	margin-right:5px;
	margin-top:15px;
}

.darkRed
{
	background-image: -ms-linear-gradient(top, #B63630 0%, #852422 100%);
background-image: -moz-linear-gradient(top, #B63630 0%, #852422 100%);
background-image: -o-linear-gradient(top, #B63630 0%, #852422 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B63630), color-stop(1, #852422)); 
background-image: -webkit-linear-gradient(top, #B63630 0%, #852422 100%);
background-image: linear-gradient(to bottom, #B63630 0%, #852422 100%);
-webkit-border-radius: 5px;
    
    border-radius: 5px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.5);
        
        box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
        
        box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
		padding-top:8px;
		cursor:pointer;
}

.whiteLine
{
	background:#FFFFFF;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	width:20px;
	margin:0 auto;
	height:3px;
	margin-bottom:3px;
}

.red
{
background-image: -ms-linear-gradient(top, #EB311F 0%, #99180A 100%);
background-image: -moz-linear-gradient(top, #EB311F 0%, #99180A 100%);
background-image: -o-linear-gradient(top, #EB311F 0%, #99180A 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EB311F), color-stop(1, #99180A));
background-image: -webkit-linear-gradient(top, #EB311F 0%, #99180A 100%);
background-image: linear-gradient(to bottom, #EB311F 0%, #99180A 100%);	
}

.grey
{
 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #979797 0%, #2F2F2F 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #979797 0%, #2F2F2F 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #979797 0%, #2F2F2F 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #979797), color-stop(1, #2F2F2F));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #979797 0%, #2F2F2F 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #979797 0%, #2F2F2F 100%);	
}

.sectionBar
{
	height:17px;
	width:244px;
	color:#FFFFFF;
	font-size:12px;
	padding-top:3px;
	padding-left:5px;
}

.scrollSection
{
	height:335px;
	overflow:hidden;
	width:449px;
}

.scroller
{
	height:335px;
	overflow:auto;
	width:500px;
}

.newsBox
{
	margin-top:5px;
	width:445px;
	padding-left:5px;
	font-size:10px;
	color:#adadad;
	margin-bottom:5px;
}

.line
{
	width:100%;
	height:1px;
	 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #E5E5E5 0%, #DFDFDF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #E5E5E5 0%, #DFDFDF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #E5E5E5 0%, #DFDFDF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E5E5E5), color-stop(1, #DFDFDF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #E5E5E5 0%, #DFDFDF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #E5E5E5 0%, #DFDFDF 100%);
}

.thumbSec
{
	margin-top:6px;
	width:100%;
	margin-bottom:6px;
	overflow:auto;
}

.homeTitle
{
	font-size:12px;
	color:#EB311f;
	margin-top:2px;
	
}

.thumb
{
	float:left;
	margin-left:5px;
	margin-right:5px;
}

.homeText
{
color:#adadad;
font-size:10px;
line-height:14px;
margin-top:5px;	
width:250px;
}

#findLocationAlert
{
	width:204px;
	height:127px;
	background-image:url(../images/findLocation.png);
	position:fixed;
	top:240px;
	left:65px;
	z-index:500;
	display:none;
}

#productAlert
{
	width:204px;
	height:127px;
	background-image:url(../images/missingProduct.png);
	position:fixed;
	top:240px;
	left:65px;
	z-index:500;
	display:none;
}

#selectStoreAlert
{
	width:204px;
	height:127px;
	background-image:url(../images/selectStore.png);
	position:fixed;
	top:240px;
	left:65px;
	z-index:500;
	display:none;
}

.leftButAlert
{
	margin-top:78px;
	margin-left:7px;
	float:left;
	cursor:pointer;
}

.rightButAlert
{
	margin-top:78px;
	margin-left:3px;
	float:left;
	cursor:pointer;
}

#map_canvas
{
width:249px;
height:335px;
display:block;
background-color:#e7e7e7;
}

.statusBar
{
	width:249px;
	height:15px;
	background-image:url(../images/statusBar.png);
}

.logo
{
	width:95px;
	height:21px;
	background-image:url(../images/logo.png);
	float:left;
	margin-top:10px;
	margin-left:35px;
}

.placeName
{
	font-weight:900;
	color:#ff0000;
}

.selectStore
{
	color:#ff0000;
	text-decoration:underline;
	cursor:pointer;
}

.groceryList
{
padding-top:10px;
	padding-left:5px;
	padding-bottom:10px;
	width:250px;
	overflow:auto;
}

.groceryList:active
{
	background-color:#EB311f;
}

.groceryList:active .groceryTitle
{
	color:#fff;
}

.groceryList:active .groceryText
{
	color:#fff;
}

.groceryList:active .arrow
{
	background-image:url(../images/arrowActive.png);
}

.groceryList:active .checkoutTitle
{
	color:#FFF;
}

.groceryList:active .checkoutCost
{
	color:#FFF;
}

.groceryList:active .checkoutArrow
{
	background-image:url(../images/arrowActive.png);
}

.groceryList:active .recipeText
{
	color:#fff;
}

.groceryTitle
{
	font-size:12px;
	font-weight:bold;
	color:#000;
}

.checkoutTitle
{
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
}

.checkoutCost
{
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:20px;
	float:right;
}

.groceryText
{
	font-size:11px;
	color:#979797;
	margin-top:5px;
	line-height:16px;
}


.recipeText
{
	font-size:11px;
	color:#979797;
	margin-top:5px;
	line-height:16px;
	width:210px;
}

.listItems
{
	font-size:11px;
	color:#979797;
	margin-top:5px;
	line-height:16px;
	width:210px;
	margin-left:5px;
}

.recipeText2
{
	font-size:11px;
	color:#979797;
	margin-top:5px;
	line-height:16px;
	width:240px;
	margin-left:5px;
}


.arrow
{
	width:8px;
	height:10px;
	background-image:url(../images/arrow.png);
	float:right;
	margin-top:-22px;
	margin-right:20px;
}

.checkoutArrow
{
	width:8px;
	height:10px;
	background-image:url(../images/arrow.png);
	float:right;
	margin-top:6px;
	margin-right:20px;
}

.icon
{
	float:left;
	margin-right:10px;
	margin-top:-5px;
}

.searchInput
{
	margin-top:10px;
	margin-left:5px;
	border-radius:10px;
	height:18px;
	padding-left:10px;
	border:none;
}

.productInput
{
	margin-top:10px;
	margin-left:5px;
	border-radius:10px;
	height:18px;
	padding-left:10px;
	border:none;
	width:230px;
}

#bottomAlert
{
width:249px;
height:105px;
background-image:url(../images/bottomAlert.png);
position:fixed;
top:436px;
display:none;	
}

#couponAlert
{
width:249px;
height:105px;
background-image:url(../images/coupon.png);
position:fixed;
top:436px;
display:none;	
}

.createBut
{
	width:216px;
	height:35px;
	background-image:url(../images/createBut.png);
	margin:0 auto;
	margin-top:10px;
}

.uploadBut
{
	width:216px;
	height:35px;
	background-image:url(../images/uploadBut.png);
	margin:0 auto;
	margin-top:10px;
}

.addProducts
{
width:249px;
height:45px;	
}

#addProduct
{
	display:none;
}

.check
{
	float:left;
	margin-right:10px;
	margin-top:2px;
}

#scanLine
{
	width:249px;
	height:10px;
	background-color:#FF0000;
	position:absolute;
	top:45px;
	left:0px;
	opacity:0.5;
}

#largeCheck
{
	position:absolute;
	top:160px;
	background-image:url(../images/largeCheck.png);
	width:84px;
	height:71px;
	left:90px;
	display:none;
}

.coupon
{
	width:32px;
	height:21px;
	 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #EC4636 0%, #CB3A2C 50%, #C22515 51%, #9A180A 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #EC4636 0%, #CB3A2C 50%, #C22515 51%, #9A180A 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #EC4636 0%, #CB3A2C 50%, #C22515 51%, #9A180A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EC4636), color-stop(0.5, #CB3A2C), color-stop(0.51, #C22515), color-stop(1, #9A180A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #EC4636 0%, #CB3A2C 50%, #C22515 51%, #9A180A 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #EC4636 0%, #CB3A2C 50%, #C22515 51%, #9A180A 100%);
float:left;
border-radius:8px;
margin-right:10px;
color:#FFFFFF;
font-weight:bold;
font-size:14px;
padding-top:7px;
padding-left:5px;
}

.smaller
{
	font-size:10px;
	padding-left:3px;
	width:34px;
	padding-top:9px;
	height:20px;
}

.productTitle
{
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
}

.productText
{
	font-size:11px;
	color:#717171;
	margin-top:8px;
	margin-left:10px;
	line-height:16px;
	width:230px;
}

.productImg
{
	width:249px;
	margin-top:10px;
	text-align:center;
	overflow:auto;
}

.nutrition
{
	margin-left:18px;
	float:left;
	text-align:center;
	margin-top:30px;
}

.nutritionTitle
{
	color:#e8301e;
	font-size:14px;
}

.nutritionText
{
	color:#717171;
	margin-top:5px;
	font-size:12px;
}

.barcodeText
{
	width:237px;
	text-align:center;
	color:#e8301e;
	font-size:14px;
	margin-top:20px;
	padding-left:6px;
	padding-right:6px;
}

.barcode
{
	width:249px;
	text-align:center;
	margin-top:30px;
}

.recipeTitle
{
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
	margin-left:5px;
}

.listTitle
{
	color:#f03b2a;
	margin-left:5px;
	margin-top:10px;
	font-size:12px;
}

.saleText
{
	color:#eb311f;
	font-weight:bold;
	font-size:12px;
	margin-top:2px;
}