.main-footer {
    width: 100%;
    background-color: #393838;
    overflow: auto;
    bottom: 0px;
    z-index: -1;
    border-bottom: 25px solid #1a1a1a;

    .tagline {
        margin-top: 60px;
        font-size: 1.4em;
        line-height: 34px;
        color: #fff;
        font-weight: 100;
        margin-bottom: 20px;

        a {
            color: $blue;
        }
    }

    .icon-img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .social-buttons {
        overflow:hidden;
        margin-bottom: 60px;

        a {
            margin-right: 10px;
        }
    }
}