// header.css Styles

.main-header {
    .logo {
        margin-top: 20px;
        float: left;
    }

    .main-navigation {
        float: right;
        font-size: 1em;
        font-weight: 300;
        margin-top: 30px;

        ul {
        	float: right;
        }

        li {
        	float: left;
        	margin-left:60px;
        }

        li:first-child {
        	margin-left: 0px;
        }

        a {
            color: $light_black;
            @include transition;
        }

        a:hover {
            color: $blue;
            @include transition;
        }

        a.active {
            color: $blue;
        }
    }
}