@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

img 
{ 
-ms-interpolation-mode: bicubic; 
}

body
{
	font-size:16px;
	height:100%;
	font-family: 'Roboto', sans-serif;
}

textarea {
	font-family: 'Roboto', sans-serif;
	resize:none;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

html
{
	height:100%;
}

a {
	text-decoration:none;
}

a:hover {
	color:#d72b37;
}

p {
	color:#3c3c3c;
}

strong {
	font-weight: 700;
}

header {
	background-color: #f7f7f7;
}

.top-bar {
	background-color: #3c3c3c;
	color:#fff;
	font-size: 0.875em;
	padding: 8px 0px;
	font-style: italic;
}

.container {
	background-color: #fff;
	width:1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 8px 0 #999999;
	box-shadow: 0 0 8px 0 #999999;	
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	width:100%;
	background-color: #f2f2f2;
	overflow: auto;
	margin-top: 40px;
}

footer ul li {
	line-height: 24px;
}

footer a {
	color:#3c3c3c;
}

footer a:hover {
	color:#E81B23;
}

.footer-col {
	float: left;
	margin-right: 30px;
}

.list-head {
	color:#d72b37;
	font-size: 16px;
}

.sub-footer {
	background-color: #999;
	width: 100%;
	height:33px;
}

.created {
	float: right;
	font-size: 12px;
	color:#fff;
}

.created a {
	color:#fff;
}

.created a:hover {
	color:#d72b37;
}

.hidden {
	display: none;
}

.site-logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-nav {
	width: 100%;
}

.main-nav ul {
	margin-top: 28px;
	float: right;
	width: 662px;
	list-style-type: none;
}

.main-nav li {
	float: left;
	width: 110px;
}

.main-nav li a {
	width:100%;
	font-size: 16px;
	background-image: -ms-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #E6E6E6));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #E6E6E6 100%);
	border: thin solid #c7c7c7;
	border-right:none;
	text-align: center;
	padding: 12px 0px;
	display: block;
	color:#757575;
}

.main-nav li a:hover, .main-nav li a.active {
	background-image: -ms-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -moz-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -o-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E81B23), color-stop(1, #B51218));
	background-image: -webkit-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: linear-gradient(to bottom, #E81B23 0%, #B51218 100%);
	color:#fff;
	border-left:none;
	border-right: none;
}

.main-nav li:first-child a{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.main-nav li:last-child a {
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-right: thin solid #c7c7c7;
}

.intro {
	margin-top: 10px;
}

.intro-text {
	font-size: 16px;
	line-height: 28px;
	margin-top: 20px;
	color:#3c3c3c;
	font-weight: 100;
}

.intro-img {
	margin-top: 20px;
}

.page-title {
	font-size: 28px;
	color:#d72b37;
	margin-top:20px;
	height: 32px;
}

#slideshow {
	margin-top: 30px;
	position: relative;
	height:415px;
	overflow: visible;
}

#slideshow img {
	position: absolute;
	top:0px;
	left:0px;
	opacity: 0;
}

#slideshow img:last-child {
	opacity: 1;
}

.sidebar-text {
	margin-top: 18px;
	color:#999;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 22px;
}

.sidebar {
	background-color: #f7f7f7;
	border: thin solid #f7f7f7;
	margin-top: 48px;
	padding: 0px 20px;
}

.sidebar-title {
	font-size: 20px;
	color:#d72b37;
	margin-top: 20px;

}

.sidebar a {
	color:#999;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sidebar a:hover {
	color:#d72b37;
	padding-left: 10px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sidebar a.active {
	color:#3c3c3c;
}

.sidebar a.active:hover {
	color:#d72b37;
	padding-left: 10px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sidebar ul {
	padding: 10px 0px;
	margin-bottom: 10px;
}

.sidebar li {
	padding:5px 0px;
	font-size: 14px;
	color:#999;
	list-style-type: none;
	border-bottom: thin dotted #999;
	padding-bottom: 10px;
	padding-top: 10px;
}

.sidebar li:last-child {
	border-bottom: none;
}

.sidebar strong {
	color:#3c3c3c;
	font-weight: normal
}

.video-wrap {
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

.video-details {
	width: 58%;
	float: left;
}

.video-img img {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border: thin solid #f2f2f2;
	width: 100%;
}

.video-img img:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.video-img {
	float: left;
	margin-right: 3%;
	width: 39%;
}

.video-title {
	margin-top: 5px;
	font-size: 24px;
	width:100%;
	float: left;
}

.video-title a {
	color:#3c3c3c;
}

.video-title a:hover, .video-link a {
	color:#d72b37;
}

.video-date {
	font-size: 14px;
	color:#999;
	margin-top: 2px;
	float: left;
	width: 100%;
}

.video-desc {
	margin-top: 20px;
	float: left;
	width: 100%;
}

.video-link {
	margin-top: 20px;
	float: left;
	font-size: 14px;
	width: 100%;
}

.content {
	margin-bottom: 40px;
	color:#3c3c3c;
	font-weight: 100;
}

.content .page-title{
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: thin dotted #ccc;
	padding-bottom: 13px;
	font-weight: normal;
	height:100%;
}

.content .page-title .sub-title{
	color:#999;
	font-weight: 100;
	font-size: 14px;
	margin-top: 3px;
}

.content p, .content li {
	line-height: 24px;
	font-size: 14px;
}

.content li {
	margin-top: 10px;
}

.our-history ul {
	margin-bottom:20px;
}

.our-history strong {
	font-size: 18px;
}

.side-img {
	margin-top: 90px;
}

#contact-map {
	width: 100%;
	height:240px;
}

.contact-form {
	margin-top: 20px;
}

.contact-form .form-row {
	overflow: auto;
	margin-bottom: 10px;
}

.contact-form input{
	width:542px;
	border:thin solid #c7c7c7;
	padding: 8px;
	color:#3c3c3c;
}

.contact-form textarea{
	width:542px;
	border:thin solid #c7c7c7;
	padding: 8px;
	height: 100px;
	font-size: 12px;
	color:#3c3c3c;
}

.contact-form label{
	width:100px;
	display: block;
	float: left;
	padding: 8px 0px;
}

input.contact-submit {
	float: right;
	width:70px;
	padding: 10px;
	text-align: center;
	color:#757575;
	border: thin solid #c7c7c7;
	background-image: -ms-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #E6E6E6));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #E6E6E6 100%);
	cursor: pointer;
}

input.contact-submit:hover {
	background-image: -ms-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -moz-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -o-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E81B23), color-stop(1, #B51218));
	background-image: -webkit-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: linear-gradient(to bottom, #E81B23 0%, #B51218 100%);
	color:#fff;
}

.button-title {
	margin-top: 10px;
	color:#d72b37;
	font-size: 18px;
	margin-bottom: 10px;
}

.button-text {
	font-size: 14px;
	line-height: 22px;
	font-weight: 100;
}

.buttons {
	margin-top: 30px;
}

.buttons  img{
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.buttons img:hover {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.news-list li {
	margin-bottom: 40px;
}

.news-title a {
	font-size: 24px;
	color:#3c3c3c;
}

.news-title a:hover, .news-body a {
	color:#d72b37;
}

.news-author {
	color:#999;
}

.news-body {
	margin-top: 15px;
	margin-bottom: 10px;
}

.contact-img {
	float: left;
	height:30px;
	margin-right: 15px;
}

.contact-house {
	padding-top: 10px;
}

.contact-phone {
	padding-top: 10px;
}

.contact-phone-img {
	margin-top: 6px;
}

.fax-phone-img {
	margin-top: 4px;
}

.contact-info {
	margin-bottom: 10px;
}

.contact-info-first{
	margin-bottom: 10px;
}

#map-box {
	width: 150px;
}

#cboxContent, #cboxLoadedContent {
	background-color: #fff;
}

#cboxLoadedContent {
	border: thin solid #999;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

#login-popup {
	background-color: #fff;
	padding: 25px;
	display: none;
}

#login-popup input {
	clear:left;
	font-size: 10px;
	margin-top: 20px;
	border: thin solid #ddd;
	padding: 8px 7px;
	text-align: left;
	width: 185px;
	margin: 0 auto;
	margin-bottom: 10px;
	float: left;
}

#login-popup input.small {
	width: 80px;
	margin-right:7px;
	clear: none;
}

#login-popup input.small:last-child {
	width: 80px;
	margin-right:0px;
	clear: none;
}

#login-popup #submit, #login-popup #submit-create {
	width:72px;
	color:#757575;
	border: thin solid #c7c7c7;
	background-image: -ms-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #E6E6E6));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #E6E6E6 100%);
	text-align: center;
	padding: 6px;
	font-size: 9px;
	margin: 0 auto;
}

#login-popup #submit-create {
	margin-bottom: 25px;
}

#login-popup #submit-create {
	width: 110px;
}

#login-popup #submit:hover, #login-popup #submit-create:hover {
	background-image: -ms-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -moz-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -o-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E81B23), color-stop(1, #B51218));
	background-image: -webkit-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: linear-gradient(to bottom, #E81B23 0%, #B51218 100%);
	color:#fff;
	cursor: pointer;
}

.login-title {
	color: #999;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 10px;
}

.login {
	width: 199px;
	float: left;
}

.forget-link {
	float: right;
	font-size: 10px;
	margin-top: 6px;
}

.forget-link a {
	color:#999;
}

.forget-link a:hover {
	color:#d72b37;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.create-line {
	width: 1px;
	height: 160px;
	margin-top: 21px;
	background-color: #ddd;
	float: left;
	margin-left: 20px;
}

.create {
	float: left;
	margin-left: 20px;
}

.create-link {
	margin-top: 30px;
}

#create-account-link {
	color: #fff;
	float: right;
	cursor: pointer;
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#create-account-link:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-phone {
	float: left;
}

.product-box {
	float: left;
	width: 47.5%;
	margin-bottom: 40px;
}

.product-box:nth-child(even) {
	margin-right: 5%;
}

.product-box .product-img {
	float: left;
	margin-right: 6%;
	width: 40%;
}

.product-box .product-img img {
	width: 100%;
}

.product-box .product-title {
	float: left;
	width:54%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.product-box .product-title a {
	font-size: 20px;
	color:#d72b37;

}

.product-box .product-desc {
	color:#3c3c3c;
	font-size: 14px;
	line-height:22px;
	width: 54%;
	float: left;
}

.product-box .product-desc a {
	color:#d72b37;
}

.product-page .product-img {
	width:40%;
	float: left;
	border: thin solid #ddd;
	margin-right:5%;
}

.product-page .product-img img {
	width: 100%;
}

.detail {
	margin-top: 30px;
	float: left;
	width: 400px;
}

.details {
	line-height: 22px;
	font-size: 14px;
	width: 50%;
	float: left;
}

.detail-title {
	font-size: 18px;
	font-weight: bold;
}

.price {
	font-size: 28px;
	color:#d72b37;
	margin-bottom: 10px;
	padding-top: 40px;
}

.in-stock {
	color:#093
}

.add-to-cart {
	display: block;
	color:#757575;
	border: thin solid #c7c7c7;
	background-image: -ms-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #E6E6E6));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #E6E6E6 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #E6E6E6 100%);
	padding: 6px 0px;
	text-align: center;
	width: 120px;
	font-size: 12px;
}

.add-to-cart:hover {
	background-image: -ms-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -moz-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -o-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E81B23), color-stop(1, #B51218));
	background-image: -webkit-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: linear-gradient(to bottom, #E81B23 0%, #B51218 100%);
	color:#fff;
}

.breadcrumb {
	border-bottom: thin dotted #ddd;
	padding-bottom: 10px;
	margin-top: 30px;
	font-size: 12px;
	color:#c7c7c7;
	padding-left: 25px;
}

.breadcrumb li {
	display: inline-block;
	padding:0px 4px;
}

.breadcrumb ul {
	list-style-type:none;
}

.breadcrumb a {
	color:#c7c7c7;
}

.breadcrumb a:hover {
	color:#d72b37;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.breadcrumb .active {
	color:#757575;
}

.product-page .more-details {
	clear:both;
	padding-top: 20px;
}

.product-page .more-details .detail-title {
	margin-top: 20px;
	font-weight: normal;
	font-size: 22px;
	padding-bottom: 8px;
	border-bottom: thin dotted #999;
	margin-bottom: 10px;
}

.product-page .more-details .detail-body{
	padding-bottom: 10px;
}

.product-page .more-details ul {
	list-style-type: square;
}

.fixed-sidebar {
	position:fixed;
	width:220px;
	top:20px;
	margin-top: 0px;
}

ul.social-icons {
	float: left;
	margin-top: 15px;
}

ul.social-icons li {
 display: inline-block;
 margin-right: 5px;
}

.footer-nav-left {
	float: left;
}

.footer-nav-right {
	float: right;
}


.pager ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
}

.pager a {
	color:#3c3c3c;
}

.pager a:hover, .pager .active, .pager {
	color:#d72b37;
}

.footer-title {
	margin-top: 20px;
	color:#d72b37;
}

.footer-text {
	font-size: 12px;
	color:#3c3c3c;
	margin-top: 10px;
	line-height: 18px;
	margin-bottom: 20px;
}

.newsletter-form input {
		border: thin solid #999;
		font-size: 12px;
		padding: 2.5% 2%;
		float: left;
		width: 70%;
}

.newsletter-form input#submit {
	background-image: -ms-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -moz-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -o-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E81B23), color-stop(1, #B51218));
	background-image: -webkit-linear-gradient(top, #E81B23 0%, #B51218 100%);
	background-image: linear-gradient(to bottom, #E81B23 0%, #B51218 100%);
	width: 25%;
	color:#fff;
	border:none;
	cursor: pointer;
	font-size: 10px;
	padding-top: 2.9%;
	padding-bottom: 2.9%;
}

@media handheld, only screen and (max-width: 1199px) {
	.main-nav ul {
		margin-top: 28px;
		width: 542px;
	}

	.main-nav li {
		width: 90px;
	}

	.main-nav li a {
		font-size: 12px;
		padding: 10px 0px;
	}

	.top-bar {
		font-size: 0.75em;
	}

	.page-title {
		font-size: 24px;
		margin-top: 18px;
	}

	.intro-text {
		font-size: 14px;
		line-height: 22px;
	}

	.button-text {
		font-size: 12px;
		line-height: 20px;
	}

	.button-title {
		font-size: 16px;
	}

	.content p, .content li {
		font-size: 12px;
		line-height: 22px;
	}

	.news-title a {
		font-size: 20px;
	}

	.news-author {
		font-size: 12px;
	}

	.contact-form input {
		width: 94%;
	}

	.contact-form textarea {
		width: 94%;
	}

	input.contact-submit {
		width:72px;
	}
	.fixed-sidebar {
		width: 160px;
	}

	.video-link, .video-desc {
		margin-top: 15px;
	}

	.video-title {
		margin-top: 0px;
		font-size: 20px;
	}

	.video-desc {
		line-height: 20px;
	}
}

@media handheld, only screen and (max-width: 959px) {
	.main-nav ul {
		margin-top: 24px;
		width: 483px;
	}

	.main-nav li {
		width: 80px;
	}

	.main-nav li a {
		font-size: 10px;
		padding: 10px 0px;
	}

	.top-bar {
		font-size: 0.7em;
	}

	.page-title {
		font-size: 20px;
	}

	.intro-text {
		font-size: 12px;
		line-height: 20px;
		margin-top: 5px;
	}

	.button-text {
		font-size: 10px;
		line-height: 18px;
	}

	.button-title {
		font-size: 14px;
	}

	.sidebar-title {
		font-size: 16px;
	}

	.sidebar li {
		font-size: 12px;
	}

	.sidebar ul {
		padding: 8px 0px;
	}
	.product-page .price {
		font-size: 20px;
		padding-top: 20px;
	}

	.product-page .detail {
		margin-top: 15px;
		font-size: 12px;
		line-height: 20px;
	}

	.product-page .detail-title {
		font-size:14px;
	}

	.product-page .add-to-cart {
		font-size:10px;
		width: 100px;
		padding: 5px 0px;
	}

	.product-page .more-details .detail-title {
		font-size: 18px;
	}

	.fixed-sidebar {
		width: 120px;
	}

	footer {
		display: none;
	}

	.video-link {
		display: none;
	}

	.video-title {
		font-size: 16px;
	}

	.video-date, .video-link {
		font-size: 12px;
	}
}

@media handheld, only screen and (max-width: 767px) {
	.main-nav ul {
		margin-top: 24px;
		width: 483px;
	}

	.main-nav li {
		width: 80px;
	}

	.main-nav li a {
		font-size: 10px;
		padding: 10px 0px;
	}

	.top-bar {
		display: none;
	}

	#slideshow {
		display: none;
	}

	.page-title {
		font-size: 19px;
	}

	.intro-text, .content p {
		text-align: justify;
	}

	.button-text {
		font-size: 12px;
		line-height: 20px;
	}

	.button-title {
		font-size: 16px;
	}

	.front .page-title {
		margin-top: 10px;
	}

	.site-logo {
		width: 50%;
		margin: 0 auto;
		margin-top: 20px;
	}

	header {
		height:30px;
	}

	.main-nav {
		position: fixed;
		z-index: 100;
	}

	.main-nav ul {
		margin-top: 0px;
		width: 100%;
	} 

	header .grid_2, header .grid_10 {
		margin-top: 0px;
	}

	header .grid_10, header .row {
		width: 100%;
	}

	.main-nav li {
		width:16.6%;
	}

	.main-nav li a {
		border-radius: 0px !important;
	}	

	.breadcrumb {
		padding-left: 0px;
	}

	.sidebar {
		margin-top: 5px;
		overflow: hidden;
		cursor: pointer;
	}

	.sidebar-content {
		display: none;
	}

	.sidebar-title {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 12px;
	}

	.content .page-title {
		margin-top: 10px;
	}

	.grid_2 img {
		display: none;
	}

	.product-box {
		width: 100%;
	}

	.product-box .product-img img {
		width: 100%;
	}

	.product-box .product-img {
		width:25%;
		margin-right: 5%;
	}

	.product-box .product-title {
		width:70%;
		float: left;
	}

	.product-box .product-desc {
		width:70%;
	}

	.news-title a {
		font-size: 16px;
	}

	.news-author {
		font-size: 11px;
	}

	input.contact-submit {
		width:92%;
		float: none;
	}

	.product-page .more-details .detail-title {
		font-size: 15px;
	}

	.product-page .price {
		font-size: 16px;
		padding-top: 5px;
		margin-bottom: 0px;
	}

	.product-page .detail {
		font-size: 10px;
		line-height: 16px;
		margin-top: 10px;
	}

	.product-page .detail .detail-title {
		font-size: 12px;
		line-height: 18px;
	}

	.video-wrap {
		width: 100%;
		overflow: visible;
		float: left;
	}

	.video-details {
		width: 100%;
	}

	.video-img {
		width: 100%;
	}
}